#grid {
  margin-left: auto;
  margin-right: auto;
  align: center;
  border-spacing: 0px;
}

#grid td {
  border: 1px solid black;
  height: 50px;
  width: 50px
}

#colors{
  margin-left: auto;
  margin-right: auto;
  align: center;
  border-spacing: 15px;
}

#colors td{
  border: 1px solid black;
  height: 25px;
  width: 25px
}

#red{
  background-color: red
}

#orange{
  background-color: orange
}

#yellow{
  background-color: yellow
}

#green{
  background-color: green
}

#blue{
  background-color: blue
}

#indigo{
  background-color: indigo
}

#violet{
  background-color: violet
}

#black{
  background-color: black
}

#white{
  background-color: white
}

#erase{
  background-color: erase
}
